@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
  /* misc */
  --header-height: 64px;
  --footer-height: 64px;
  --page-max-width: 1280px;
  --sidenav-width: 240px;
  --scroll-offset: 2.5rem;

  /* border-radius */
  --radii-large: 6px;
  --radii-medium: 4px;
  --radii-small: 3px;

  /* spacing */
  --gutter-large: 3rem;
  --gutter-medium: 2rem;
  --gutter-small: 1rem;
  --gutter-xsmall: 0.5rem;

  /* typography */
  --vertical-rhythm: 0.75rem;
  --vertical-rhythm-large: 1rem;

  --ff-sans: Inter, -apple-system, BlinkMacSystemFont, Inter, Segoe UI, Helvetica Neue, sans-serif;
  --ff-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

  --fs-small: 0.85rem;
  --fs-standard: 1rem;
  --fs-medium: 1.12rem;
  --fs-large: 1.4rem;
}

:root,
.light {
  --info: #0ea5e9;
  --warning: #eab308;
  --positive: #22c55e;
  --critical: #f43f5e;

  --purple: #7c3aed;
  --green: #0d9488;
  --blue: #2563eb;
  --magenta: #c026d3;
  --yellow: #ca8a04;

  --neutral-0: #ffffff;
  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #111827;

  --light: var(--neutral-0);

  --text-prominent: var(--neutral-900);
  --text: var(--neutral-800);
  --text-muted: var(--neutral-600);
  --text-dim: var(--neutral-400);

  --surface-prominent: var(--neutral-200);
  --surface: var(--neutral-100);
  --surface-muted: var(--neutral-50);

  --border-prominent: var(--neutral-300);
  --border: var(--neutral-200);

  --brand: var(--blue);
}

.dark {
  --info: #0284c7;
  --warning: #ca8a04;
  --positive: #15803d;
  --critical: #be123c;

  --purple: #a78bfa;
  --green: #2dd4bf;
  --blue: #60a5fa;
  --magenta: #e879f9;
  --yellow: #fef08a;

  --light: var(--neutral-900);

  --text-prominent: var(--neutral-0);
  --text: var(--neutral-100);
  --text-muted: var(--neutral-300);
  --text-dim: var(--neutral-500);

  --surface-prominent: var(--neutral-700);
  --surface: var(--neutral-800);
  --surface-muted: var(--neutral-900);

  --border-prominent: var(--neutral-600);
  --border: var(--neutral-700);
}

/*
============================================================
* RESET
============================================================
*/

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

#__next {
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  isolation: isolate;
}

body {
  color: var(--text);
  background: var(--light);
  font-family: var(--ff-sans);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

a {
  color: inherit;
}
button {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
input,
button,
textarea,
select {
  font: inherit;
}

/*
============================================================
* GLOBALS
============================================================
*/

hr {
  background-color: var(--border-prominent);
  height: 2px;
  border: 0;
  margin-bottom: var(--vertical-rhythm);
}

li {
  margin: 10px 0;
}

img {
  max-width: 100%;
}

kbd {
  font-family: var(--ff-mono);
}

/*
============================================================
* ARTICLE (PROSE)
============================================================
*/

article {
  flex-grow: 1;
  line-height: 1.6;
  max-width: 100%;
  min-width: 0;
  padding: 2rem 2rem 3rem;
}

article a {
  color: var(--text-prominent);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: var(--blue);
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  transition: text-decoration 300ms ease;
}
article a:hover {
  text-decoration-thickness: 2px;
}
article a[href^='http'] {
  color: var(--blue); /* Indicate external links */
}

/* Vertical rhythm for block elements */
article blockquote,
article hr,
article ol,
article p,
article pre,
article table,
article ul {
  margin-block: var(--vertical-rhythm);
}

article blockquote {
  color: var(--text-muted);
  font-size: 1.25rem;
  line-height: 1.5;
  border-left: 4px solid var(--border);
  margin: var(--gutter-medium);
  padding: 0 0 0 1rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}

/*
============================================================
* SYNTAX HIGHLIGHTING
============================================================
*/

code {
  background: var(--surface);
  border-radius: var(--radii-small);
  font-family: var(--ff-mono);
  font-size: var(--fs-small);
}
:not(pre) > code {
  border: 1px solid var(--border-prominent);
  padding: 0.125rem 0.25rem;
  white-space: nowrap;
}

pre[class*='language-'] {
  background: var(--surface);
  border-radius: var(--radii-medium);
  color: var(--text);
  display: flex; /* fix scroll + padding bug */
  line-height: 1.5;
  overflow-x: auto;
  padding: 1em;
  text-shadow: none;
}

.token.comment,
.token.punctuation {
  color: var(--text-dim);
}

.token.symbol,
.token.deleted,
.token.important {
  color: var(--critical);
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.property,
.token.keyword,
.token.function,
.token.class-name {
  color: var(--blue);
}

.token.constant,
.token.boolean,
.token.number {
  color: var(--magenta);
}
.token.string {
  color: var(--yellow);
}

.token.builtin,
.token.keyword {
  color: var(--purple);
}
.token.operator,
.token.attr-name,
.token.variable {
  color: var(--green);
}
